body {
    margin: 0;
    padding: 0;
}
#hero img {
    width: 100vw;
    height: 30vw;
    display: block;
}

.container-fluid {
    gap: 2rem;
    background: #CBCED0;
    height: 2.5rem;
    margin-top: -1rem !important;
   /* Upward shadow */
    box-shadow: 0 0px 30px 1.5rem rgba(52, 57, 71, 0.596);
}



.navbar .navbar-nav .nav-link  {
    position: relative;
    padding: 0.5rem 3rem 0.5rem 3rem;
}

.nav-link {
    color: #1A293B;
    padding: 1rem 1.5rem;
    border-radius: 0;
    cursor: pointer;
    transition: background 0.5s, color 0.5s;
    height: 100%;
}

.nav-link:hover {
    background: #b2b4b4;
    color: #F5C273;
}

a.active {
    background: #8D8F98;
    color: #fff;
}

.main-content{
   background-image: url('../images/bg-image-placeholder.png');
   background-size: cover;
    background-position: center;
   margin-top:-4rem
}

#what-is-prevent {
    background-color: rgba(27, 33, 44, 0.8);
    border: 3px solid #d9e3eb;
    color: #B3D4E9;
    margin-top: 40px;
}

#what-is-prevent h1 {
    padding-top: 2rem;
    color: #F5C273;
}

#what-is-prevent h3 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#what-is-prevent img {
    border-radius: 50%;
    height: 20rem;
    width:20rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

#what-is-prevent p {
    padding: 0 1rem 2rem 1rem 2rem;
    color: #B3D4E9;
}

.collapse-button {
    background-color:rgba(52, 57, 71, 0.75) !important;
    border: #d9e3eb !important;
    font-size: x-large;
}

#preventParagraph {
    padding-left: 15rem;
    padding-right: 15rem;
    color: #B3D4E9;
}

@media screen and (max-width: 768px) {
    #what-is-prevent img {
        height: 10rem;
        width: 10rem;
        margin: 2rem 0rem 0rem 0rem;
    }

    .main-content{
        background-position: center;
    }

    #what-is-prevent {
        padding: 0rem -1.5rem 0rem -1.5rem;
    }

    #preventParagraph {
    padding-left: 5rem;
    padding-right: 5rem;

}
    
    .navbar .navbar-nav .nav-link  {
    position: relative;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
}
}